# {{.ProjectName}}

Scaffolded with draconiforge (Julia template, license: {{.License}}).

```julia
julia --project=. -e 'using {{.ProjectName}}; {{.ProjectName}}.greet()'
```

Author: {{.Author}} ({{.Year}})
